doctype

html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title Gulp 44
        link(href="css/main.css" rel="stylesheet")
    body
        h1 Hello1111
        h1 Hello4444
        h1 Helloqqqqqq
        h1 Hello22222

        p efhiuwegfwegfweyufgtweitew